.header {
    &__container {
        background-color: var(--yellow);
        display: flex;
    }
    &__menu {
        display: flex;
        gap: 2%;
        color: var(--white);
        cursor: pointer;
    }
}