.findroute{
    &__container{
        display: flex;
        gap: 2%;
        background-color: #FFFFFF33;
        padding: 40px;
        border-radius: 10px;
    }
    &__button {
        width: 60%;
        height: 48px;
    }
    @media(max-width: 862px){
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
        }
        &__button {
            width: 100%;
        }
    }
    @media(max-width: 559px){
        &__container{
            display: none;
        }
    }
}