.start {
    &__bg{
        background-image: url('./../../assets/images/background/background.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__container{
        max-width: 1240px;
        padding: 0 20px;
        margin: 0 auto;
    }
    &__menu{
        padding-top: 463px;
        padding-bottom: 82px;
        &Text {
            font-weight: 700;
            text-transform: uppercase;
            color: var(--white);
            font-size: 3rem;
            padding-bottom: 41px;
            line-height: 65px;
        }
    }
}