.policy{
    &__bg{
        background-color: var(--black);
    }
    &__container{
        max-width: 1240px;
        padding: 24px 20px;
        margin: 0 auto;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &Name{
            color: var(--white);
            font-size: 1.1rem;
            transition: color 0.3s ease-in-out;
            &:hover{
                color: var(--yellow);
                text-decoration: underline;
            }
        }
        &Link{
            color: var(--white);
            font-size: 1.1rem;
            transition: color 0.3s ease-in-out;
            &:hover{
                color: var(--yellow);
                text-decoration: underline;
            }
        }
    }
}