.card {
    &__content{
        position: relative;
        color: var(--white);
        border-radius: 32px;
        overflow: hidden;
    }
    &__image {
        height: 500px;
        max-width: 100%;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        border-radius: 32px;
        z-index: 2;
        height: 100%;
        top: 80%;
        background: rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        transition: top 1s ease-in-out;
        &Wrapper{
            display: flex;
            padding: 20px 32px;
            justify-content: space-between;
            align-items: center;
            &Text{
                &Title{
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 28.8px;
                }
                &Subtitle{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
            &Price{
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                background-color: #FFFFFF4D;
                padding: 8px 16px;
                border-radius: 4px;
                white-space: nowrap;
            }
        }
        &Content{
            display: flex;
            height: 80%;
            flex-direction: column;
            justify-content: space-between;
            &Text{
                padding: 20px 32px;
                font-size: 14px;
                line-height: 24px;
            }
            &Button{
                margin: 20px 32px;
            }
        }
    }
    &__rating{
        display: flex;
        align-items: center;
        gap: 8px;
        position: absolute;
        z-index: 1;
        top: 50px;
        right: 0;
        background-color: #FDFDFD66;
        padding: 10px;
    }
    &__content:hover .card__info {
        top: 0;
    }
    @media (max-width: 979px) {
        &__content:hover .card__info {
            top: 80%;
        }
        &__image {
            height: 400px;
            max-width: 100%;
            object-fit: cover;
        }
        &__info{
            &Wrapper{
                padding: 10px 22px;
                &Text{
                    &Title{
                        font-size: 17px;
                    }
                    &Subtitle{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 869px) {
        &__content {
            width: 285px;
        }
    }
}